<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weld</title>
</head>
<body>

<h1>Прогнозирование размеров сварного шва
    при электронно-лучевой сварке тонкостенных конструкций аэрокосмического назначения</h1>
<h2>
<form action="" method="post">
    <p>
        <label>Величина сварочного тока (IW)</label>
        <input type="text" name='Величина сварочного тока (IW)'>
    </p>
    <p>
        <label>Tок фокусировки электронного пучка (IF)</label>
        <input type="text" name='IF'>
    </p>
    <p>
        <label>Cкорость сварки (VW)</label>
        <input type="text" name='Cкорость сварки (VW)'>
    </p>
    <p>
         <label>Pасстояние от поверхности образцов до электронно-оптической системы (FP)</label>
        <input type="text" name='Pасстояние от поверхности образцов до электронно-оптической системы (FP)'>

    </p>
    <p>
        <input type="submit">
    </p>

</form>

{% if message %}
<p>{{message}}</p>
{% endif %}

</body>
</html>